{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% blocktrans with pnref=txn.pnref %}
        PayPal Payflow transaction {{ pnref }}
    {% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>PayPal</li>
        <li>
            <a href="{% url 'payflow_dashboard:paypal-payflow-list' %}">{% trans "PayPal Payflow" %}</a>
        </li>
        <li class="active">
            {% blocktrans with pnref=txn.pnref %}
                Transaction {{ pnref }}
            {% endblocktrans %}
        </li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with pnref=txn.pnref %}
        Transaction {{ pnref }}
    {% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><th>{% trans "Payflow transaction ID (PNREF)" %}</th><td>{{ txn.pnref }}</td></tr>
            <tr><th>{% trans "Order number" %}</th><td>{{ txn.comment1 }}</td></tr>
            <tr><th>{% trans "Transaction type" %}</th><td>{{ txn.get_trxtype_display }}</td></tr>
            <tr><th>{% trans "Tender" %}</th><td>{{ txn.get_tender_display }}</td></tr>
            <tr><th>{% trans "Amount" %}</th><td>{{ txn.amount|currency }}</td></tr>
            <tr><th>{% trans "Auth code" %}</th><td>{{ txn.auth_code|default:"-" }}</td></tr>
            <tr><th>{% trans "Payment ID (PPREF)" %}</th><td>{{ txn.ppref|default:"-" }}</td></tr>
            <tr><th>{% trans "Auth code" %}</th><td>{{ txn.authcode|default:"-" }}</td></tr>
            <tr><th>{% trans "Result" %}</th><td>{{ txn.result }}</td></tr>
            <tr><th>{% trans "Response message" %}</th><td>{{ txn.respmsg }}</td></tr>
            <tr><th>{% trans "Is approved?" %}</th><td>{{ txn.is_approved }}</td></tr>
            <tr><th>{% trans "Security code match?" %}</th><td>{{ txn.cvv2match }}</td></tr>
            <tr><th>{% trans "House number match?" %}</th><td>{{ txn.avsaddr }}</td></tr>
            <tr><th>{% trans "Postcode match?" %}</th><td>{{ txn.avszip }}</td></tr>
            <tr><th>{% trans "Raw request" %}</th><td>{{ txn.raw_request }}</td></tr>
            <tr><th>{% trans "Raw response" %}</th><td>{{ txn.raw_response }}</td></tr>
            <tr><th>{% trans "Date" %}</th><td>{{ txn.date_created }}</td></tr>
        </tbody>
    </table>

    {% if show_form_buttons %}
        <h2>{% trans "Actions" %}</h2>
        <form method="post" action=".">
            {% csrf_token %}
            <button class="btn btn-success {% if not txn.can_be_captured %}disable{% endif %}" type="submit" name="action" value="capture">{% trans "Capture" %}</button>
            <button class="btn btn-danger {% if not txn.can_be_voided %}disable{% endif %}" type="submit" name="action" value="void">{% trans "Void" %}</button>
            <button class="btn btn-danger {% if not txn.can_be_credited %}disabled{% endif %}" type="submit" name="action" value="credit">{% trans "Credit" %}</button>
        </form>
    {% endif %}

{% endblock dashboard_content %}
