{% extends 'dashboard/layout.html' %}
{% load currency_filters %}

{% block title %}
PayPal Payflow transaction {{ txn.pnref }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="{% url paypal-payflow-list %}">PayPal Payflow</a>
        <span class="divider">/</span>
    </li>
	<li class="active"><a href=".">Transaction {{ txn.pnref }}</a></li>
</ul>
{% endblock %}

{% block dashboard_content %}

<div class="sub-header">
	<h2>Transaction {{ txn.pnref }}</h2>
</div>

<table class="table table-striped table-bordered">
	<tbody>
		<tr><th>Payflow transaction ID (PNREF)</th><td>{{ txn.pnref }}</td></tr>
		<tr><th>Order number</th><td>{{ txn.comment1 }}</td></tr>
		<tr><th>Transaction type</th><td>{{ txn.get_trxtype_display }}</td></tr>
		<tr><th>Tender</th><td>{{ txn.get_tender_display }}</td></tr>
		<tr><th>Amount</th><td>{{ txn.amount|currency }}</td></tr>
		<tr><th>Auth code</th><td>{{ txn.auth_code|default:"-" }}</td></tr>
		<tr><th>Payment ID (PPREF)</th><td>{{ txn.ppref|default:"-" }}</td></tr>
		<tr><th>Auth code</th><td>{{ txn.authcode|default:"-" }}</td></tr>
		<tr><th>Result</th><td>{{ txn.result }}</td></tr>
		<tr><th>Response message</th><td>{{ txn.respmsg }}</td></tr>
		<tr><th>Is approved?</th><td>{{ txn.is_approved }}</td></tr>
		<tr><th>Security code match?</th><td>{{ txn.cvv2match }}</td></tr>
		<tr><th>House number match?</th><td>{{ txn.avsaddr }}</td></tr>
		<tr><th>Postcode match?</th><td>{{ txn.avszip }}</td></tr>
		<tr><th>Raw request</th><td>{{ txn.raw_request }}</td></tr>
		<tr><th>Raw response</th><td>{{ txn.raw_response }}</td></tr>
		<tr><th>Date</th><td>{{ txn.date_created }}</td></tr>
	</tbody>
</table>

{% if show_forms %}
<h2>Actions</h2>
<form method="post" action=".">
	{% csrf_token %}
	<button class="btn btn-success {% if not txn.can_be_captured %}disable{% endif %}" type="submit" name="action" value="capture">Capture</button>
	<button class="btn btn-danger {% if not txn.can_be_voided %}disable{% endif %}" type="submit" name="action" value="void">Void</button>
	<button class="btn btn-danger {% if not txn.can_be_credited %}disabled{% endif %}" type="submit" name="action" value="credit">Credit</button>
</form>
{% endif %}

{% endblock dashboard_content %}
