*.sw[po]
*.py[oc]
.DS_Store
.cache/

# Packaging
dist
build/
django_oscar_paypal.egg-info/
docs/_build

# Testing
htmlcov
.tox
.coverage
.pytest_cache

# Database
sandbox/db.sqlite

# Sensitive data
TODO
integration.py

# Sandbox
sandbox/public/media
