# Testing
django-oscar>=2.0,<2.2
coverage==5.3
django-webtest==1.9.7
tox==3.20.1
pytest-django==4.1.0
pytest-cov==2.10.1
django-widget-tweaks==1.4.8
sorl-thumbnail==12.7.0

# Development
django-extensions==3.1.0
django-debug-toolbar==3.1.1
flake8
isort
