# django-compressor 2.0 dropped support for Django 1.7.  Since Django
# 1.7 is still considered supported by django-oscar-paypal, ensure
# using django-compressor 1.6 (which still supported Django 1.7).
django-compressor==1.6

# Testing
mock==1.0.1
coverage==3.7.1
django-nose==1.4.2
coveralls==0.4.4
django-webtest==1.7.7
tox==2.1.0
detox==0.10.0
WebTest==2.0.16
pinocchio==0.4.1
pytest==3.0.1
pytest-django==3.0.0
pytest-cov==2.3.1

# Development
# 1.5.7 still ships with South migrations in the wrong folder,
# 1.5.8 contains a fix. Upgrade when released.
#django-extensions==1.5.7
django-debug-toolbar==1.4
flake8==2.2.3
