{% extends "oscar/checkout/preview.html" %}
{% load currency_filters %}
{% load i18n %}
{% load thumbnail %}

{# Null out the actions as they can't be used here #}
{% block shipping_address_actions %}{% endblock %}
{% block shipping_method_actions %}{% endblock %}
{% block order_contents_actions %}{% endblock %}

{% block payment_method %}
    <div class="col-md-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            <h4>{% trans "PayPal" %}</h4>
            <p>
                {% blocktrans with amt=paypal_amount|currency email=paypal_user_email %}
                    {{ amt }} will be deducted from your PayPal account, registered
                    to email: {{ email }}.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endblock %}

{# Note, we submit to a different URL for placing an Express order #}
{% block place_order %}
    <form method="post" action="{% url 'paypal-place-order' basket.id %}">
        {% csrf_token %}
        <input type="hidden" name="payer_id" value="{{ payer_id }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <div class="form-actions">
            <input id='place-order' type="submit" value="{% trans "Place order" %}" class="pull-right btn btn-primary btn-large js-disable-on-click" />
        </div>
    </form>
{% endblock place_order %}
