{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "PayPal Payflow transactions" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>PayPal</li>
        <li>
            <a href="{% url 'payflow_dashboard:paypal-payflow-list' %}">{% trans "PayPal Payflow Pro" %}</a>
        </li>
        <li class="active">{% trans "Transactions" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "PayPal Payflow transactions" %}
{% endblock %}

{% block dashboard_content %}

    {% if transactions %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Order number" %}</th>
                    <th>{% trans "Transaction type" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th>{% trans "PN reference" %}</th>
                    <th>{% trans "PP reference" %}</th>
                    <th>{% trans "Response code" %}</th>
                    <th>{% trans "Response message" %}</th>
                    <th>{% trans "Response time (ms)" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for txn in transactions %}
                    <tr>
                        <td>{{ txn.comment1 }}</td>
                        <td>{{ txn.get_trxtype_display }}</td>
                        <td>{{ txn.amount|currency|default:"-" }}</td>
                        <td>{{ txn.pnref }}</td>
                        <td>{{ txn.ppref|default:"-" }}</td>
                        <td>{{ txn.result }}</td>
                        <td>{{ txn.respmsg }}</td>
                        <td>{{ txn.response_time|floatformat:0 }}</td>
                        <td>{{ txn.date_created }}</td>
                        <td>
                            <a href="{% url 'payflow_dashboard:paypal-payflow-detail' txn.id %}" class="btn btn-info">{% trans "View" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "oscar/partials/pagination.html" %}
    {% else %}
        <p>{% trans "No transactions have been made yet." %}</p>
    {% endif %}

{% endblock dashboard_content %}
