{% extends "checkout/checkout.html" %}
{% load currency_filters %}

{% block title %}
Order preview | {{ block.super }}
{% endblock %}

{% block checkout-nav %}
{% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{# Null out the actions as they can't be used here #}
{% block shipping_address_actions %}{% endblock %}
{% block order_contents_actions %}{% endblock %}

{% block payment_method %}
<div class="span6">
	<div class="sub-header">
		<h2>Payment</h2>
	</div>
	<div class="well well-success">
		<p>PayPal Express Checkout</p>
		<p>PayPal user: {{ paypal_user_email }}</p>
		<p>Amount: {{ paypal_amount|currency }}</p>
	</div>
</div>
{% endblock %}

{% block place_order %}
<h3>Please review the information above, then click "Place Order"</h3>
<form method="post" action="{% url paypal-place-order %}">
	{% csrf_token %}
	<input type="hidden" name="payer_id" value="{{ payer_id }}" />
	<input type="hidden" name="token" value="{{ token }}" />
    <div class="form-actions">
        <input id='place-order' type="submit" value="Place order" class="pull-right btn btn-primary btn-large js-disable-on-click" />
    </div>
</form>
{% endblock place_order %}