{% extends 'oscar/checkout/payment_details.html' %}
{% load url from future %}

{% block payment_details %}
    <div class="sub-header">
        <h2>How would you like to pay?</h2>
    </div>

    <div class="sub-header">
		<h3>PayPal Express</h3>
	</div>
	<p>Click on the below icon to use Express Checkout but where the shipping
	address and method is already chosen on the merchant site.</p>
	<div style="overflow:auto"><a href="{% url 'paypal-direct-payment' %}" title="Pay with PayPal"><img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;"></a>&nbsp;</div>

    <div class="sub-header">
		<h3>PayPal Adaptive Payments</h3>
	</div>
    <div class="form-actions">
        <a href="{% url 'checkout:adaptive-payments' %}" class="btn btn-large btn-primary">Continue</a>
    </div>

    <div class="sub-header">
		<h3>PayPal PayFlow Pro</h3>
	</div>
	<form method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
		{% csrf_token %}
		<h4>Bankcard</h4>
		{% include "partials/form_fields.html" with form=bankcard_form %}
		<h4>Billing address</h4>
		{% include "partials/form_fields.html" with form=billing_address_form %}
		<div class="form-actions">
			<button type="submit" class="btn btn-large btn-primary">Continue</button>
		</div>
	</form>

{% endblock %}
